
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.sqlite3

# JavaScript / Node
node_modules/
npm-debug.log
yarn-error.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Test reports / logs
*.log
reports/
test-results/
